:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base */

body{
   background-color: var(--preta);
   font-family: Arial, Times, serif;
   color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;  
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px; 
}

header nav a:hover{
    color: #ffff;
}

/* Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("/img/dora.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; /*Alinha todos os itens para a esquerda*/

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px; /* Margem do botão*/
    font-family: 'Times New Roman', Times, serif;

}

.filme-principal .titulo{
    margin-top: 15%; /* move o titulo conforme a %*/
    font-size: 50px; /* Tamanho da fonte*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Estilo da fonte*/
}

.botao{
    background-color: rgba(0,0,0,.50); /* rgba tem que ser informado a cor de cada letra*/
    border: none;
    color: white;
    padding: 15px 30px; /* Aumenta o tamanho do botão*/
    margin-right: 15px; /* Espacamento para a direita*/
    font-size: 11px; 
    cursor: pointer; /* mudar o cursor para botão*/
    transition: .3s ease all; /* tempo de animação do botão*/

}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px; /* margem entre o icone e o titulo do botão*/
}

.container{
    margin-left: 10px;
}

.filme-principal .container{
    width: 70%; /* caso minimize a tela reduzira em 60%*/
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel {
    margin-top: 1%;
}
